.card figure {
    overflow: hidden; /* hide image overflow on zoom */
}

.card figure>img {
    transition: transform 0.3s ease;
}

.card figure:hover > img {
    transform: scale(1.05);
}

#about-me-pic {
    /* paper effect */
    background: #0e0e0e;
    padding: 6px;

    max-width: 380px;
    width: 100%;
    height: auto;

    display: block;
    margin: 1.5rem auto 2.5rem;

    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);

    @media (max-width: 640px) {
        #about-me-pic {
            max-width: 90%;
            border-radius: 12px;
        }
    }
}
